article .container .row p {
  text-align: justify;
  text-indent: 0em;
  margin: 0px;
  margin-top: 0.8em;
}
article .container .row .example {
  overflow: hidden;
  font-size: 0.95em;
  border-left-style: solid;
  border-left-color: link-color;
  border-left-width: 0.4em;
  background-color: quote-bg-color;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
article .container .row .example .inset-math-right,
article .container .row .example .inset-math-left {
  font-size: 1.05em;
}
article .container .row .inset-math-right {
  float: right;
  margin-left: 2em;
  font-size: 1em;
}
article .container .row .inset-math-left {
  float: left;
  margin-right: 2em;
}
article .container .row .tek {
  float: right;
  font-style: italic;
}
article .container .row ol {
  white-space: pre-line;
}
article .container .row .footnotes ol {
  white-space: normal;
}
article .container .row img {
  max-width: 100% !important;
  height: auto;
  display: inline-block;
  margin: 5px;
  box-shadow: 2px 2px 2px;
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
  font-style: italic;
  font-family: font-serif;
  font-size: 1.2em;
  padding: 0 30px 15px;
  background-color: quote-bg-color;
  border-left: 5px solid #a81b10;
  padding-top: 15px;
}
article .container .row blockquote p {
  margin-top: 0px;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .main-text {
  background-color: text-bg-color;
  padding-top: 50px;
  padding-bottom: 50px;
}
article .container .row .main-text a {
  text-decoration: underline;
  color: link-color;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
article .container .row table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
article .container .row td,
article .container .row th {
  border-top: 1px solid gray-dark;
  border-bottom: 1px solid gray-dark;
  padding: 0.2em 0.3em 0.2em 0.3em;
}
figure.highlight {
  background: #eee;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  font-family: font-mono;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 10px;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight table .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
