.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: 'CharisSILW', 'GenRyuMin TW', 'GenYoMin TW', 'GenWanMin TW', 'Noto Serif CJK KR', 'Times New Roman', serif;
}
.sans-serif {
  font-family: 'NotoSansW', 'GenYoGothic TW', 'Noto Sans CJK KR', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
