---
---
{% include colors.scss %}
.theorem {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: lighten($bg-text-color, 10%);
	//border: solid 1px;
	//color: #f9f9dc;
	border-radius:2px;
	box-shadow: inset 0px 0px 1.5px $text-color;//darken($msg-bg-color, 40%);
}
.theorem::before{
	content: "定理";
	font-weight: bold;
	margin-right: 1.5rem;
}
.proof {
	padding: .5rem 1rem;
	margin-bottom: 1rem;
	border-left: .25rem solid darken($link-color, 0%);
}
.proof::before{
	content: "證明";
	font-style: italic;
	color: $link-color;
	margin-right: 1.5rem;
}
