
$bg-color:      #a59270;
$bg-text-color: #d0c1a4;
$text-color:    #310505;
$head-color:    #fff;
$head-bg-color: #6c0000;
$link-color:    lighten($head-bg-color, 2%);
$msg-bg-color:  saturate(lighten($bg-text-color, 3%), 0%);
$heading-color: lighten($head-bg-color, 5%);
$par-padding:   2rem;
