
$bg-color:      #9c8a6e;
$text-color:    #261502;
$link-color:    #7a241d;
$head-color:    #fff;
$head-bg-color: #39251c;
$msg-bg-color:  #c2b39b;
$heading-color: lighten($text-color, 2%);
$par-padding:   2rem;
